html {
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-behavior: smooth;

  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

  /* Generales */
    
a {
    text-decoration: none;
}

img {
  width: auto;  
  height: 300px;
}



/** Utilidades **/

    .no-margin {
        margin: 0;
    }
    
    .no-padding {
        padding: 0;
    }
    
    .centrar-texto {
        text-align: center;
    }
    
    .subrayado {
        text-decoration: underline;
        text-underline-position: under;
        text-decoration-color: $morado;
    
    }
