// Colores

$morado: #6724F3;
$blanco: #ffffff;
$gris: #666666;
$negro: #000000;
$rojoboton: #FF0000;
$moradomasclaro: #DD56FF;
$backgroundbeneficio: #1D1C1C;



//Fonts

$fuentetitulos: 'Oswald';
$fuentelogo: 'aileron'; 
$fuentesecundarios: 'Open Sans';